@import './design-tokens.css';

#app {
  font-family: var(--font-family-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: var(--color-text-primary);
  width: 100%;
  min-height: 100vh;
}

.logo,
.card,
.read-the-docs {
  display: none;
}
